* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Bender', 'Times New Roman', serif;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: "Bender";
    src: url("img/Bender.woff") format("woff");
    src: url("img/Bender.woff2") format("woff2");
    src: url("img/Bender.ttf") format("ttf");
}

.navbar {
    position: absolute;
    background: url(img/latest.png);
    background-size: contain;
    background-color: #454037;
    width: 100%;
    z-index: 1;
    padding: 9px 0;
}
.navbar .container {
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .container #search-input {
    padding: 8px;
    border: 2px solid #dcd0a8;
    background-color: #454037;
    color: #dcd0a8;
    border-radius: 8px;
    font-family: 'Bender', 'Times New Roman', serif;
}
.navbar .container #search-input::placeholder {
    color: rgba(220, 208, 168, 0.6);
    font-family: 'Bender', 'Times New Roman', serif;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: baseline
}
.nav-links li {
    margin-right: 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #dcd0a8;
    transition: color 0.3s ease, background-color 0.3s ease-in;
    padding: 6px 8px;
    border-radius: 6px;
    border: 2px solid #dcd0a8;
}
.nav-links li a:hover {
    color: #454037;
    background: #dcd0a8;
}

#showcase {
    width: 100%;
    background: url(img/bg.jpg);
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.showcase__map {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 50px solid black;
}
.showcase__map img {
    width: 75%;
    height: auto;
    cursor: grab;
    user-select: none;
}
#showcase .changethemap {
    position: absolute;
    top: 0;
    right: 0;
    transition: right 1s;
    background-color: transparent;
    width: 240px;
    height: calc(100vh - 52px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#showcase .changethemap .map {
    width: 182px;
    height: 182px;
    background-position: center top -15px;
    background-size: 280%;
    border-radius: 36px;
    margin: 20px 0;
    user-select: none;
    border: 2px solid #454037;
    transition: transform 0.35s, box-shadow 1s, border 0.6s;
}
#showcase .changethemap .map:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 0px 15px 29px 4px rgba(0,0,0,0.75);
    border: 2px solid #dcd0a8;
}
#showcase .changethemap #changeimage {
    display: none;
}

#showcase .changelocation {
    position: absolute;
    top: calc(20px + 52px);
    left: 0;
    transition: left 1s;
    width: 240px;
    height: auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#showcase .changelocation .fullscreen {
    position: absolute;
    top: 4px;
    left: 240px;
    background-color: #dcd0a8;
    border: 2px solid #dcd0a8;
    border-radius: 6px;
    color: #454037;
    padding: 6px 8px;
    transition: all .65s;
    z-index: 1;
}
#showcase .changelocation .fullscreen:hover {
    background: url(img/latest.png), #454037;
    box-shadow: 0px 0px 38px 16px rgba(0,0,0,0.35) inset;
    color: #dcd0a8;
    cursor: pointer;
}
#showcase .changelocation h2 {
    width: 80%;
    padding: 8px 4px;
    text-align: center;
    font-family: 'Bender';
    font-weight: 400;
    color: #dcd0a8;
    font-size: 20px;
    background: url(img/latest.png);
    border: 2px solid #dcd0a8;
    border-radius: 8px;
    z-index: 1;
    user-select: none;
    transition: all .6s;
}
#showcase .changelocation h2:hover {
    box-shadow: 0px 0px 38px 16px rgba(0,0,0,0.35) inset;
    cursor: pointer;
}
#showcase .changelocation .locations {
    width: 100%;
    height: 0px;
    transition: height 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
#showcase .changelocation .locations a {
    width: 68%;
    margin-top: 12px;
    text-align: center;
    font-size: 18px;
    padding: 8px 4px;
    background-color: #dcd0a8;
    color: #454037;
    border: 2px solid #dcd0a8;
    border-radius: 8px;
    transition: all .65s;
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.4);
    z-index: 1;
}
#showcase .changelocation .locations a:hover {
    background: url(img/latest.png);
    color: #dcd0a8;
    transform: translateX(12px);
    box-shadow: 0px 2px 4px 4px rgba(0,0,0,0.4) inset;
}
#showcase .changelocation .location-info {
    width: 75%;
    margin-top: 6px;
    padding: 8px;
    background: url(img/latest.png), #454037;
    border: 2px solid #dcd0a8;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 38px 16px rgba(0,0,0,0.35) inset;
    z-index: 1;
}
#showcase .changelocation .location-info p {
    padding: 4px 4px;
    color: #dcd0a8;
}
#showcase .changelocation .location-info .ayrim {
    padding-top: 24px;
}
